@import './variables';

:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --gradient: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  --gradient-inverse: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
}

//(sub-heading at the top of the app UI)
//(chat on the left)
//(chat on the right)
//(placeholder text)
//(main heading) 8 (submit button background)
//(paragraph)
// (app background)
// (radio button outline)

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(mid) {
    font-size: 50%;
  }

  @include respond(sm) {
    font-size: 40%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;

  // @include respond(phone) {
  //   font-size: 3.6rem;
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
